body {
    color: black;
    font-size: 18px;

    @media (max-width: 1199px) {
        font-size: 0.9;
    }

    @media (max-width: 991px) {
        font-size: 0.8;
    }

    @media (max-width: 575px) {
        font-size: 0.7;
    }
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}